@model CampusCom.Models.COMMUNITY

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="app-content">
    <div class="actual-content">

        <div class="actual-top">
            <h1>Edit Community Details</h1>
            <p>Change and upload new community properties.</p>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>COMMUNITY</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ComId)


                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "lbl-form" })
                <br />
                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "input-cont" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })


                @Html.LabelFor(model => model.ComName, htmlAttributes: new { @class = "lbl-form" })
                <br />
                @Html.EditorFor(model => model.ComName, new { htmlAttributes = new { @class = "input-cont" } })
                @Html.ValidationMessageFor(model => model.ComName, "", new { @class = "text-danger" })


                @Html.LabelFor(model => model.ComDescr, htmlAttributes: new { @class = "lbl-form" })
                <br />
                @Html.EditorFor(model => model.ComDescr, new { htmlAttributes = new { @class = "input-cont" } })
                @Html.ValidationMessageFor(model => model.ComDescr, "", new { @class = "text-danger" })


                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "lbl-form" })
                <br />
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "input-cont" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })


                @Html.LabelFor(model => model.Privacy, htmlAttributes: new { @class = "lbl-form" })
                <br />
                @Html.EditorFor(model => model.Privacy, new { htmlAttributes = new { @class = "input-cont" } })
                @Html.ValidationMessageFor(model => model.Privacy, "", new { @class = "text-danger" })


                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "lbl-form" })
                <br />
                @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "input-cont" } })
                @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })


                @Html.LabelFor(model => model.ComStatus, htmlAttributes: new { @class = "lbl-form" })
                <br />
                @Html.EditorFor(model => model.ComStatus, new { htmlAttributes = new { @class = "input-cont" } })
                @Html.ValidationMessageFor(model => model.ComStatus, "", new { @class = "text-danger" })


                @Html.LabelFor(model => model.ComImg, htmlAttributes: new { @class = "lbl-form" })
                <br />
                @Html.TextBoxFor(model => model.ComImg, new { htmlAttributes = new { @class = "input-cont" } })
                @Html.ValidationMessageFor(model => model.ComImg, "", new { @class = "text-danger" })

                <div class="submit-btn-div">
                    <button type="submit" class="sub-btn">SAVE</button>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
