@model CampusCom.Models.CommunityDetailsViewModel

@{
    ViewBag.Title = "Community Details";
    ViewBag.Header = Model.Community.ComName;
    ViewBag.Subheader = Model.Community.ComDescr;
    Layout = "~/Views/Shared/_Community.cshtml";

    var ses_id = Session["UserId"];
}

<div class="header-bar">
    <div>
        <h1 class="header-text">@ViewBag.Header</h1>
        <div class="com-nav">
            @*<a href="@Url.Action("DetailsMem", "MyCommunity", new { id = Model.Community.ComId })">Members</a>
            <a href="@Url.Action("Details", "MyCommunity", new { id = Model.Community.ComId })" class="active-com-nav">Posts</a>
            <a href="@Url.Action("DetailsBroad", "MyCommunity", new { id = Model.Community.ComId })">Broadcast</a>
            <a href="@Url.Action("Edit", "MyCommunity", new { id = Model.Community.ComId })">Settings</a>
            <a href="@Url.Action("DetailsReq", "MyCommunity", new { id = Model.Community.ComId })">Requests</a>*@
            <p class="embeded-viewbag">@ViewBag.Subheader</p>
        </div>
    </div>
</div>

<div id="app-content">
    <div class="actual-content">
        <div class="actual-top">
            <h1>Community Posts</h1>
            <p><small>See the already published posts for the respective community.</small></p>
        </div>

        <div class="post-div">

            @if (Model.Posts != null && Model.Posts.Count > 0)
            {

                <ul>
                    @foreach (var post in Model.Posts)
                    {
                        <div class="post-hr"></div>
                        <li class="post">
                            <h3 class="post-title">@post.Title</h3>
                            <p class="post-msg">@post.pMessage</p>
                            <p class="pt-div"><small>@post.PostDate</small></p>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No posts available for this community.</p>
            }

        </div>

        <p>
            <a href="/Joined/Index/@ses_id">Back to list</a>
        </p>
    </div>
</div>
