@model IEnumerable<CampusCom.Models.COMMUNITY>

@{
    ViewBag.Title = "Dashboard";
    ViewBag.Header = "Campus Com Dashboard";
    ViewBag.Subheader = "Welcome to Campus Com!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="actual-top">
    <h1>Explore Our App</h1>
    <p><small>Here's a list of all our communities, join or view at your own descretion.</small></p>
</div>

<section class="home-card-sec">

    @foreach (var item in Model)
            {
                <div class="com-indx-card">
                    <div class="com-card-img">
                        <iconify-icon icon="fluent:people-community-add-28-filled" class="fw-index-icon"></iconify-icon>
                    </div>
                    <H3 class="com-card-txt">
                        @Html.DisplayFor(modelItem => item.ComName)
                    </H3>
                    <div class="com-card-links">
                        @*<a href="#">Join</a> | <a href="#">View</a>*@

                        <a href="@Url.Action("JoinCommunity", "Community", new { id = item.ComId})">Join</a>  |
                        @Html.ActionLink("Details", "Details", new { id = item.ComId })
                    </div>
                </div>
            }

</section>

@*
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComDescr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Privacy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComImg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComDescr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Privacy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComImg)
        </td>
        <td>
            <a href="@Url.Action("JoinCommunity", "Community", new { id = item.ComId })">Join</a>  |
            @Html.ActionLink("Details", "Details", new { id = item.ComId })
        </td>
    </tr>
}

</table>
*@