@model CampusCom.Models.MEMBERLIST

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MEMBERLIST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COMMUNITY.ComName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMUNITY.ComName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isOwner)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
