@model CampusCom.Models.POST

@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Judo Lions";
    Layout = "~/Views/Shared/_Community.cshtml";
}

<div class="header-bar">
    <div>
        <h1 class="header-text"> @ViewBag.Header</h1>
        <div class="com-nav">
            <a href="#">Members</a>
            <a href="/Post/Index" class="active-com-nav">Post</a>
            <a href="/Event/Index">Broadcast</a>
            <a href="#">Settings</a>
            <a href="#">Requests</a>
        </div>
    </div>
</div>

<div id="app-content">
    <div class="actual-content">
        <div class="actual-top">
            <h1>Event Details</h1>
            <p><small>See the details of an already published event.</small></p>
        </div>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt class="the-bold">
                    @Html.DisplayNameFor(model => model.COMMUNITY.ComName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.COMMUNITY.ComName)
                </dd>

                <dt class="the-bold">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt class="the-bold">
                    @Html.DisplayNameFor(model => model.pMessage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pMessage)
                </dd>

                <dt class="the-bold">
                    @Html.DisplayNameFor(model => model.PostDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PostDate)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</div>